<div class="container mb-2">
    <h1 class="text-white text-center my-5">About Us</h1>
    <h5 class="text-white mb-3">
        At CineHolic, the online video streaming Over The Top (OTT) platform, we truly believe that for entertainment to come alive, 
        you need to feel it. That’s where CineHolic brings in the advantage of the language of your comfort! With 12 navigational and featured 
        languages across original features, lifestyle shows, children's programmes, exclusive short series and acclaimed 
        plays - it’s unlimited entertainment in the language that sounds like home. CineHolic offers an exhaustive array of content; with 
        1.25 lac+ hours of viewing across the languages of English, Hindi, Bengali, Malayalam, Tamil, Telugu, Kannada, Marathi, 
        Oriya, Bhojpuri, Gujarati & Punjabi making it a complete video destination for OTT viewers. Our exhaustive 
        selection of Bollywood and language movies make us the preferred destination for an avid cinema connoisseur.
    </h5>
    <h5 class="text-white mb-3">
        We offer a comfortable and friendly user experience with highly evolved video streaming technology at amazing speed and crystal 
        clear sounds. Language Navigation, Seamless Video playback, Smart Content Search & recommendation, option to choose video quality and 
        much more create a video experience like no other. All you need is a compatible connected device. 
        Tune into CineHolic now, in your language!
    </h5>
    <h5 class="text-white"> 
        CineHolic can be accessed at <a href="#">www.cineholic.com</a> and application for downloading on mobile, tablet, laptop, desktop, etc. 
        is available on the Google Play Store and Apple App Store.
    </h5>
</div>
