<homepage-navbar></homepage-navbar>
<nav-options></nav-options>


<div class="container-fluid sub-heading bg-dark">
    <h2 class="text-white">Watch Later</h2>
  </div>
  
  <div *ngIf ="arrMovie.length === 0">
    <h3 class="text-white text-center animation-style" style="padding-top: 150px; padding-bottom: 300px;"> Add movies to watch later !</h3>
  </div>
  
  <div *ngIf ="arrMovie.length > 0">
    <div class="container my-3" style="padding-bottom: 100px;">
      <div class="row" >
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 card-wrap" *ngFor = "let movie of arrMovie; let i = index;">
          <div class="card my-4" style="height: 400px;">
            <img [src]="movie['Poster']" style="height: 200px;" class="card-img-top" alt="{{movie.Title}}">
            <div class="card-body">
              <h4 class="text-white">{{movie.Title}}</h4>
              <p class="text-white">{{movie.Genre}}</p>
              <div class="d-flex justify-content-between">
                <p class="text-success">HD 720p</p>
              <small>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill love" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                {{movie.imdbRating}}</small>
              </div>
            </div>
            <div class="card-visible">
              <div class="center">
                <button type="button" class="btn btn-large btn-light btn-round" data-toggle="tooltip" data-placement="top" title="Movie Description" routerLink="/movies/{{movie.Title}}"><svg style="color: rgb(22, 3, 75);font-size:50px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg></button>
                <button type="button" class="btn btn-large btn-light btn-round my-5" data-toggle="tooltip" data-placement="top" title="Add To Favourites" (click) = "MovieToFav(movie)"><svg style="color: rgb(22, 3, 75);font-size:50px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg></button>
                <button type="button" class="btn btn-large btn-light btn-round" data-toggle="tooltip" data-placement="top" title="Remove" (click) = "remove(i)"><svg style="color: rgb(22, 3, 75);font-size:50px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg></button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>

  <div class="mt-5">
    <div class="footer1"><homepage-footer></homepage-footer></div>
    <div class="footer2">
      <footer>
        <div class="bg-dark foot-space">
            <h3 class="text-center text-white">Cineholic</h3>
            <div class="text-center">
                <ul class="footer-ul">
                    <a href="#"><li class="footer-li">Terms and Privacy Notice</li></a>
                    <a href="#"><li class="footer-li">Send us feedback</li></a>
                    <a href="#"><li class="footer-li">Help</li></a>
                    <li class="text-white footer-li">&#169; 1996-2020, Cineholic.com, Inc. or its affiliates</li>
                </ul>
            </div>
        </div>
    </footer>
    </div>
  </div>
  
