.sub-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.card{
    border : none;
}

.card-body{
    background-color: #222;
}

.youtube-link{
    text-decoration: none;
    color:white;
}

button:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.list-decoration{
    display: inline-block;
    text-decoration: none ;
}

.movie-details{
    margin-top:5rem;
}
.addtocart{
    margin:0px 5px;
}
.card-back{
    background-color: #222;
}

@media only screen and (max-width:1024px){
    .footer1{
        display:none;
    }
    .custom-class{
        width: 100%; 
        display:block;
    }
    .addtocart{
        margin-left: 0;
        margin-right:0;
        margin-top:2px;
        margin-bottom: 2px;
    }
}

@media only screen and (min-width:1024px){
    .footer2{
        display:none;
    }
}
