.navbar-fixed{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 200;
    height: 70px;

}
.text-size{
    font-style: 25px;
}
.cart{
    color:white;
   
}
.btn-cart{
    position: relative;
}
.cartNumber{
    position: absolute;
    left: 18px;
    top: 0px;
    text-align: center;
    border-radius: 7px;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 12px;
}
.main-icon{
    padding-left:15vw;
}

/* side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width:1024px){

   .contact_us{
     display:none;
   }
   .search{
     display:none;
   }
   .main-icon{
    padding-left:12vw;
}
}