<div class="container-fluid sub-heading bg-dark">
    <h2 class="text-white pl-2">Help & Customer Service</h2>
</div>

<div class="container mb-2">
    <h3 class="text-white mb-3">Conditions of Use</h3>
    <p style="color: #5e676d;">Last updated : Nov 06, 2020</p>
</div>

<div class="container mt-2">
    <p class="text-white mb-4">
        Welcome to CineHolic.com. CineHolic.com Services LLC and/or its affiliates ("CineHolic") provide website features and 
        other products and services to you when you visit or shop at CineHolic.com, 
        use CineHolic products or services, use CineHolic applications for mobile, 
        or use software provided by CineHolic in connection with any of the foregoing (collectively, "CineHolic Services"). 
        CineHolic provides the CineHolic Services subject to the following conditions.
    </p>
    <h5 class="text-white mb-2"><strong>By using CineHolic Services, you agree to these conditions. Please read them carefully.</strong></h5>
     <p class="text-white mb-4">
        We offer a wide range of CineHolic Services, and sometimes additional terms may apply. When you use an CineHolic Service 
        (for example, Your Profile, Gift Cards, CineHolic Video, Your Media Library, CineHolic devices, or CineHolic applications) 
        you also will be subject to the guidelines, terms and agreements applicable to that CineHolic Service ("Service Terms"). 
        If these Conditions of Use are inconsistent with the Service Terms, those Service Terms will control.
     </p>   
     <h5 class="text-white mb-2"><strong>Privacy</strong></h5>
     <p class="text-white mb-4">
        Please review our Privacy Notice, which also governs your use of CineHolic Services, to understand our practices.
     </p>  
     <h5 class="text-white mb-2"><strong>Electronic Communications</strong></h5>
     <p class="text-white mb-4">
        When you use CineHolic Services, or send e-mails, text messages, and other communications from your desktop or mobile device to us, 
        you may be communicating with us electronically. You consent to receive communications from us electronically, such as e-mails, texts, 
        mobile push notices, or notices and messages on this site or through the other CineHolic Services, such as our Message Center, 
        and you can retain copies of these communications for your records. You agree that all agreements, notices, disclosures, 
        and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
     </p>  
     <h5 class="text-white mb-2"><strong>COPYRIGHT</strong></h5>
     <p class="text-white mb-4">
        All content included in or made available through any CineHolic Service, such as text, graphics, logos, button icons, images, audio clips, 
        digital downloads, data compilations, and software is the property of CineHolic or its content suppliers and protected by United States 
        and international copyright laws. The compilation of all content included in or 
        made available through any CineHolic Service is the exclusive property of CineHolic and protected by U.S. and international copyright laws.
     </p>  
     <h5 class="text-white mb-2"><strong>Your Account</strong></h5>
     <p class="text-white mb-4">
        You may need your own CineHolic account to use certain CineHolic Services, and you may be required to be logged in to the account and 
        have a valid payment method associated with it. If there is a problem charging your selected payment method, we may charge any 
        other valid payment method associated with your account. Visit https://www.cineholic.com/cpe/managepaymentmethods?ref_=ya_d_c_pmt_mpo& to 
        manage your payment options. You are responsible for maintaining the confidentiality of your account and password and for restricting 
        access to your account, and you agree to accept responsibility for all activities that occur under your account or password. CineHolic does sell products for children, but it sells them to adults, who can purchase with a credit card or other permitted payment method. If you are under 18, you may use the Amazon Services only with involvement of a parent or guardian. Parents and guardians may create profiles for teenagers in their Amazon Household. Alcohol listings on Amazon are intended for adults. You must be at least 21 years of age to purchase alcohol, or use any site functionality related to alcohol. Amazon reserves the right to refuse service, 
        terminate accounts, terminate your rights to use CineHolic Services, remove or edit content, or cancel orders in its sole discretion.
     </p> 
     <h5 class="text-white mb-2"><strong>Applicable Law</strong></h5>
     <p class="text-white mb-4">
        By using any CineHolic Service, you agree that the Federal Arbitration Act, applicable federal law, and the laws of the state of Washington, 
        without regard to principles of conflict of laws, 
        will govern these Conditions of Use and any dispute of any sort that might arise between you and CineHolic.
     </p> 
</div>
<div class="container border-design mb-3">
    <p class="text-white my-2">Was this information helpful?</p>
     <div class="mb-2">
        <button class="btn btn-success mr-2" type="button" (click)="ifYes()">Yes</button>
        <button class="btn btn-danger" type="button" (click)="ifNo()">No</button>
     </div>
</div>
