/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: #222;
    color:white;
}
.sub-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
}
